*{
  margin: 0;
  padding: 0;
  
}

body {
  font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

/* Header Section */
.header {
  background-color: #1F2937;
  color: white;
  padding: 20px 150px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.header-top h3 {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.header-top ul {
  display: flex;
  gap: 20px;
}

.header-top li {
  color: #e5e7eb;
  font-size: 18px;
}

/* Hero Section */
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  gap: 90px;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 10px;
}

.hero-text p {
  color: #E5E7EB;
  margin-bottom: 15px;
  font-size: 15px;
}

.hero-image {
flex: 1;
  background-color: #6d7683;
  height: 250px;
  display: flex;
  color: #e5e7eb;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.hero-text button {
  background-color: #3882F6;
  color: white;
  border: none;
  padding: 8px 25px;
  border-radius: 5px;
  font-weight: bold;
}

/* INFO SECTION */
.info-section {
  padding: 50px 200px 100px;
  text-align: center;
}

.info-section h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 50px;
}

.info-boxes {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info-box {
  max-width: 200px;
}

.info-box .image-placeholder {
  border: 4px solid #3882f6;
  border-radius: 15px;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}

.info-box p {
  color: #6d7683;
  font-size: 18px;
}

/* Quote Section */
.quote-section {
  background-color: #e5e7eb;
  padding: 100px 300px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  margin-bottom: 20px;
}

.quote-author {
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  color: #1f2937;
}

/* CTA Section */
.cta-section {
  padding: 100px 200px;
}

.cta-box {
  background-color: #3882f6;
  border-radius: 10px;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-text h3 {
  color: #f9faf8;
  font-size: 24px;
  margin-bottom: 5px;
}

.cta-text p {
  color: #e5e7eb;
  font-size: 18px;
}

.cta-box button {
  background-color: #3882f6;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  padding: 8px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
}

/* Footer */
.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 40px;
  font-size: 18px;
}